<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825784269385-406ie0hi0ftpbcfh0uh03kk6icmcffkh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825784269385-406ie0hi0ftpbcfh0uh03kk6icmcffkh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>825784269385-ej9ifk1tsk9i3m8k9a1m5rkgr3u92d68.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0KogfebfY0PhBq-UMIWA3j4cPUextEBI</string>
	<key>GCM_SENDER_ID</key>
	<string>825784269385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.tuhoconline</string>
	<key>PROJECT_ID</key>
	<string>tu-hoc-online</string>
	<key>STORAGE_BUCKET</key>
	<string>tu-hoc-online.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825784269385:ios:567fe5ca0f018ef9</string>
	<key>DATABASE_URL</key>
	<string>https://tu-hoc-online.firebaseio.com</string>
</dict>
</plist>